<ion-content>
  <main class="container">
    <section class="title-container">
      <h2>Crea tu <span>cuenta</span></h2>
      <h2>Empieza a </h2>
      <h2>Comprar <span>ahora.</span></h2>
    </section>
    <section>
      <form class="form-container" (ngSubmit)="onSave()"[formGroup]="formRegister">
        <input class="input-form" type="text" placeholder="Nombre" formControlName="nombre">
        <input class="input-form" type="text" placeholder="Apellido" formControlName="apellido">
        <input class="input-form" type="email" placeholder="Email" formControlName="email">
        <input class="input-form" type="text" placeholder="Direccion" formControlName="direccion">
        <input class="input-form" type="password" placeholder="Password" formControlName="password">
        <input class="input-form" type="password" placeholder="Confirm Password" formControlName="repeat">
        <label class="input-label" for="user">Tipo de usuario</label>
        <select placeholder="escoja una opcion" name="user" id="user" formControlName="tipo">
          <option value="comprador">Comprador</option>
          <option value="vendedor">Vendedor</option>
          <option value="administrador">Administrador</option>
        </select>
        <button type="submit">Registrarme</button>
        <p>¿Ya tienes una cuenta?<a [routerLink]="['/login']" routerLinkActive="router-link-active">Inicia sesión</a></p>
      </form>
    </section>
  </main>
</ion-content>