<ion-content>
  <main>
    <section class="title-container">
      <h1 class="title">Mis facturas </h1>
    </section>
    <section class="container">
      <div *ngFor="let item of facturas" class="item">
        <p>Nombre de producto</p>
        <p>Total de factura</p>
        <p class="p-value">{{item.nombreProducto}}</p>
        <p class="p-value">{{item.valor}}</p>
        <button>Generar PDF</button>
      </div>
      <a [routerLink]="['/factura']" routerLinkActive="router-link-active">Añadir Factura</a>
    </section>
  </main>

</ion-content>